.container {
    background-color: rgb(243, 239, 239);
    border-radius: 15px;
    width: 30rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}

li {
    list-style: none;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px;
}